/* font-family: 'Permanent Marker', cursive; */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

/* colors */
/* Color Theme Swatches in Hex */
/* 
.Deserted-terrestrial-planet-1-hex { color: #F27B13; }
.Deserted-terrestrial-planet-2-hex { color: #F2A663; }
.Deserted-terrestrial-planet-3-hex { color: #D95A11; }
.Deserted-terrestrial-planet-4-hex { color: #8C310F; }
.Deserted-terrestrial-planet-5-hex { color: #40100C; }

Color Theme Swatches in RGBA.Deserted-terrestrial-planet-1-rgba { color: rgba(242, 123, 19, 1); }
.Deserted-terrestrial-planet-2-rgba { color: rgba(242, 166, 99, 1); }
.Deserted-terrestrial-planet-3-rgba { color: rgba(216, 90, 17, 1); }
.Deserted-terrestrial-planet-4-rgba { color: rgba(140, 48, 15, 1); }
.Deserted-terrestrial-planet-5-rgba { color: rgba(63, 16, 12, 1); }

Color Theme Swatches in HSLA.Deserted-terrestrial-planet-1-hsla { color: hsla(28, 89, 51, 1); }
.Deserted-terrestrial-planet-2-hsla { color: hsla(28, 84, 66, 1); }
.Deserted-terrestrial-planet-3-hsla { color: hsla(22, 85, 45, 1); }
.Deserted-terrestrial-planet-4-hsla { color: hsla(16, 80, 30, 1); }
.Deserted-terrestrial-planet-5-hsla { color: hsla(5, 68, 14, 1); }
 */



body,html{
	height: 100%;
	margin: 0; 
	padding: 0;
	background: linear-gradient(#F27B13,#D95A11,#40100C);
}
body{
	background-image: url(images/stars2.png);	
}
#top_image_wrapper{
background-image: url(images/rover_main.jpg);
background-size: 100%;
background-repeat:no-repeat;
height: 600px;
width: 100vw;

}



h1
{
	font-family: 'Permanent Marker', sans-seriff;
	color: white;
	font-size: 5em;
	transform: rotate(-15deg);
	text-shadow: 2px 2px  #40100C ;
	padding: 10px;
}

a{
	text-decoration: none;
}


@media only screen and (min-width: 600px) {
  /* For tablets: */
  
  
  
  
  
  @media only screen and (min-width: 768px) {
  /* For desktop: */